<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
    <script src="src/lib/dragonBones.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">    
    <link rel="stylesheet" href="game.css">
    <title>SC312201-Game</title>
</head>
<body>
<div class='main'>
<div class='title'>Game Title</div>
Student ID ............... Name .......................  Section ...  <br> 

<div id='gamecanvas'></div>
<script type="module" src='src/main.js'></script>

<footer style='display: flex;justify-content: center;'> 
<div><img src='https://phaser.io/images/logo/logo-download.png' height='64' class='p3logo'></div>
<div><a href='http://game.twachi.net/'>SC312201 - Basic of Game Programming</a><br>   
    <a href='https://www.cs.kku.ac.th/'>Department of Computer Science</a>, Khon Kaen University <br> 
    Copyright © 2020 Wachirawut Thamviset <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution license</a><br>
     Phaser3 Template with Dragon Bone plugin <a href='https://github.com/twachikku/game63'> 
        <img src="https://img.icons8.com/color/30/000000/github--v1.png" style='vertical-align: middle;'/> https://github.com/twachikku/game63</a> </div>    
</footer>
</div>  
</body>
</html>