<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">

  <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/src/lib/dragonBones.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>SC312201-2021 Game Online Mini Project</title>
</head>

<body style="font-family: 'Mali', cursive;color:white;background-color: black;">
  <div class="card-body">
    <h5 class="card-title">ชื่อเกม: No Name</h3>
      <div class="card-text">
        <div id='gamecanvas'></div>
      </div>

      กติกาการเล่น : .......... <br>
      <b>สมาชิกในกลุ่ม</b><br>
      ID ............... Name ....................... Section ... <br>
      ID ............... Name ....................... Section ... <br>
      ID ............... Name ....................... Section ... <br>
      ID ............... Name ....................... Section ... <br>

      <footer style='display: flex;justify-content: center;'>
        <div><img src='https://phaser.io/images/logo/logo-download.png' height='64' class='p3logo'></div>
        <div><a href='http://web.twachi.net/'>SC312201 - Basic of Game Programming</a><br>
          <a href='https://computing.kku.ac.th/'>College of Computing</a>, Khon Kaen University <br>
          Copyright © 2022 Wachirawut Thamviset <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons
            Attribution license</a><br>
          Phaser3 Basic Template (Web) <a href='https://github.com/twachikku/gamelab'>
            <img src="https://img.icons8.com/color/30/000000/github--v1.png" style='vertical-align: middle;' />
            https://github.com/twachikku/gamelab</a>
        </div>
      </footer>
  </div>
  <script type="module" src='src/main.js'></script>
</body>

</html>