<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
    <link rel="stylesheet" href="game.css">
    <title>SC312201-Game</title>
</head>
<body>
<h1>วิชา SC312201 Basic of Game Programming. ปีการศึกษา 2563 </h1>
ชื่อเกม : ...............  <br>
รหัสประจำตัว ............... ชื่อ-สกุล .......................  กลุ่มเรียน ...  <br> 

<div id='gamecanvas'></div>
<footer> 
    <a href='http://game.twachi.net/'>GAME.TWACHI.NET</a><br>   
 <a href='https://www.cs.kku.ac.th/'>Department of Computer Science</a>, Khon Kaen University <br> 
 สงวนลิขสิทธิ์ภายใต้ใบอนุญาต <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution license</a>
</footer>
<script type="module" src='src/main.js'></script>
</body>
</html>